.open-modal {
  opacity: 0;
  animation: popup-open 500ms ease forwards;
}

.close-modal {
  animation: popup-close 500ms ease-in forwards;
}

@keyframes popup-open {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  60% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes popup-close {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  40% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(-200%);
    opacity: 0;
  }
}
