.modal {
  opacity: 0;
  animation: popup 300ms ease-in forwards;
}

@keyframes popup {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
